* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #wrap {
  height: 100%;
}

body {
  background: whitesmoke;
  font-family: sans-serif;
}

button {
  margin: 0;
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  font-size: 1rem;
  padding: 12px 20px;
  box-shadow: 0 4px 8px rgba(black, 0.2);
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateY(1px);
  }
}

.small-caps {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
}
